function Math.init 0
    push constant 0
    return
function Math.multiply 2
    push constant 0
    pop local 0
    push constant 0
    pop local 1
label Math_0
    push local 1
    push argument 1
    lt
    not
    if-goto Math_1
    push local 0
    push argument 0
    add
    pop local 0
    push local 1
    push constant 1
    add
    pop local 1
    goto Math_0
label Math_1
    push local 0
    return
function Math.divide 3
    push argument 1
    push argument 0
    gt
    not
    if-goto Math_3
    push constant 0
    return
    goto Math_2
label Math_3
label Math_2
    push argument 1
    push argument 1
    add
    pop local 1
    push argument 0
    push local 1
    call Math.divide 2
    pop local 0
    push argument 0
    push local 0
    push local 0
    add
    push argument 1
    call Math.multiply 2
    sub
    pop local 2
    push local 2
    push argument 1
    lt
    not
    if-goto Math_5
    push local 0
    push local 0
    add
    return
    goto Math_4
label Math_5
    push local 0
    push local 0
    add
    push constant 1
    add
    return
label Math_4
function Math.sqrt 6
    push constant 0
    pop local 0
    push constant 7
    pop local 1
label Math_6
    push local 1
    push constant 0
    gt
    push local 1
    push constant 0
    eq
    or
    not
    if-goto Math_7
    push constant 1
    pop local 2
    push constant 0
    pop local 5
label Math_8
    push local 5
    push local 1
    lt
    not
    if-goto Math_9
    push local 2
    push local 2
    add
    pop local 2
    push local 5
    push constant 1
    add
    pop local 5
    goto Math_8
label Math_9
    push local 0
    push local 2
    add
    pop local 3
    push local 3
    push local 3
    call Math.multiply 2
    pop local 4
    push local 4
    push argument 0
    lt
    push local 4
    push argument 0
    eq
    or
    not
    if-goto Math_11
    push local 3
    pop local 0
    goto Math_10
label Math_11
label Math_10
    push local 1
    push constant 1
    sub
    pop local 1
    goto Math_6
label Math_7
    push local 0
    return
function Math.max 0
    push argument 0
    push argument 1
    gt
    not
    if-goto Math_13
    push argument 0
    return
    goto Math_12
label Math_13
label Math_12
    push argument 1
    return
function Math.min 0
    push argument 0
    push argument 1
    lt
    not
    if-goto Math_15
    push argument 0
    return
    goto Math_14
label Math_15
label Math_14
    push argument 1
    return
function Math.abs 0
    push argument 0
    push constant 0
    lt
    not
    if-goto Math_17
    push constant 0
    push argument 0
    sub
    return
    goto Math_16
label Math_17
label Math_16
    push argument 0
    return